<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="container" [formGroup]="resetPassForm" (ngSubmit)="reset()">
    <div class="input-group">
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="block" [disabled]="!resetPassForm.valid || isLoading" type="submit">Enviar</ion-button>
    </div>
  </form>
</ion-content>
