<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Conversa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- puxar pra cima para carregar mais antigas -->
  <ion-refresher slot="fixed" (ionRefresh)="loadOlderMessages($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para ver mensagens antigas"
      refreshingSpinner="bubbles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none">
    <ion-item *ngFor="let cvs of conversations" [class.received]="!cvs.right" [class.sent]="cvs.right">
      <ion-label>
        {{ cvs.message }}
        <p class="timestamp">{{ cvs.created_at | date:'shortTime' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input placeholder="Digite sua mensagem..." [(ngModel)]="messageText"></ion-input>
      <ion-button fill="clear" (click)="sendMessage()">Enviar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
