<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <ion-item>
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="!loginForm.valid || isLoading" type="submit">Login</ion-button>
      </div>
    </form>
    <div style="text-align: center">
        <a [routerLink]="['/reset-password']">Esqueci minha senha</a>
    </div>
    <hr>
    <div style="text-align: center">
      <a [routerLink]="['/register']">Não possuo conta</a>
    </div>
</ion-content>
