<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <ion-item>
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
      </div>
    </form>
</ion-content>
