<app-header-app [nome]="'Meus Livros'"> </app-header-app>

<ion-content [fullscreen]="true">

  <ion-fab (click)="openModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)"></ion-searchbar>
  </ion-item>
<!--    <ion-item>-->
<!--      <ion-select >-->
<!--        <ion-select-option value="name">Data de criação</ion-select-option>-->
<!--        <ion-select-option value="date">Data</ion-select-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->

<!--    <ion-item>-->
<!--      <ion-select >-->
<!--        <ion-select-option value="asc">Ascendente</ion-select-option>-->
<!--        <ion-select-option value="desc">Descendente</ion-select-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->
  <ion-card *ngIf="myBooks.length === 0">
    <ion-card-header>
      <ion-card-title>
        Nenhum livro encontrado
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="searchInput">
      <p>Não foi encontrado nenhum livro com os termos da sua pesquisa. Que tal adicionar um livro no botão abaixo?</p>
    </ion-card-content>
    <ion-card-content *ngIf="!searchInput">
      <p>Você ainda não possui livros cadastrados. Clique no botão de adicionar para começar.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let book of myBooks">
    <ion-card-header>
      <ion-card-title>
        {{book.name}}
      </ion-card-title>
      <ion-card-subtitle>
        {{book.author}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="pdf-viewer" *ngIf="pdfDoc">
        <canvas #pdfCanvas style="width: 100%"></canvas>
      </div>
      <div class="book-info" *ngIf="!pdfDoc">
        <div class="progress">
          <ion-badge style="padding: 5px" [ngStyle]="{ 'background-color': book.pivot.status === 'finished' ? 'green' : 'blue'}">{{status[book.pivot.status]}}</ion-badge>
        </div>
        <img class="book-cover" src="{{book.image}}" (click)="detail(book.id)">
        <div class="action-buttons">
          <ion-button (click)="selectBook()" fill="clear">
            <ion-icon name="push-outline"></ion-icon>
            <input type="file" id="inputFile" (change)="uploadBook(book, $event)" #e style="display: none" />
          </ion-button>
          <ion-button (click)="shareBook(book)" fill="clear">
            <ion-icon name="share-social"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteBook(book)" fill="clear" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div>
        <small>Página {{book.pivot.current_page}} de {{book.pages}} - <b>{{calculatePorcentage(book)}} % </b></small>
      </div>
      <div>
        <ion-range type="range" [min]="0" [max]="book.pages" [value]="book.pivot.current_page" (ionChange)="updateCurrentPage($event, book)" />
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
