<app-header-app [nome]="'Perfil'"></app-header-app>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="container" [formGroup]="profileForm" (ngSubmit)="edit()">

    <app-profile-picture class="profile-picture" [picture]="photo"></app-profile-picture>

    <div class="input-group">
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Senha antiga" formControlName="old_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Nova senha" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-textarea autoGrow="true" placeholder="Sobre mim" maxlength="500" formControlName="bio"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Gêneros favoritos</ion-label>
      </ion-item>

      <div class="chips-container">
        <ion-chip
          [outline]="!userGeneros.includes(genero.id)"
          *ngFor="let genero of generos">
          {{ genero.nome }}
        </ion-chip>
      </div>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-radio placeholder="Two factor" formControlName="two_factor">Habilitar two factor</ion-radio>
      </ion-item>
      <ion-button expand="block" [disabled]="!profileForm.valid || isLoading" type="submit">Salvar</ion-button>
    </div>
  </form>
</ion-content>
